/*
Percentage
--------------------------------
*/

.w-full {
    width: 100%;
}

/*
Maximum
--------------------------------
*/

.mw-1000 {
  max-width: 1000px;
}

.mw-1600 {
    max-width: 1600px;
}
