.TrackGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0;
}

@media (min-width: 700px) {
    .TrackGrid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }


@media (min-width: 1000px) {
  .TrackGrid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.TrackGrid-Image {
  width: 100%;
  height: auto;
  display: block;
}
